#body1 {
  background-image: url("/images/background/1.jpg");
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  
  
}
.logo{
    color: white;
  font-size: 12px;
  text-align: center;
  height: 40rem;
  width: 100%;
  padding-top: 13rem;
  padding-left: 5rem;
}
.mouse{
 
    text-align: center;
    

  }
  .about{
    background-color: white;
    color: black;
    text-align: center;
  }
  .service{
      background-image: url("/images/background/2.jpg");
      text-align: center;
      color: white;
  }
.container{
    text-align: center;
}